html {
  background-color: #99A3A4;
}
body {
  background-color: #76D7C4;
}
.title {
  font-size: 50px;
  text-align: center;
  background-color: #E74C3C;
  color: white;
}
.text-info {
  background-color: #9B59B6;
  color: white;
}
p {
  font-size: 16px;
  text-align: center;
  color: white;
}
.a1 {
  color: grey;
}
